<header class="top-bar">
  <div class="top-bar-content">
    <a href="/" class="top-bar-logo">
      <img src="/public/img/ef-logo.png" alt="EF" class="top-logo" />
      <span class="top-title">Orderflow</span>
    </a>

    <!-- Bouton menu burger -->
    <button id="burger-btn" class="burger-btn">
      ☰ <span class="burger-text">Menu</span>
    </button>
  </div>
</header>
