<header class="top-bar">
  <div class="top-bar-content">
    <div class="top-bar-logo">
      <img src="/public/img/ef-logo.png" alt="EF" class="top-logo" />
      <span class="top-title">Orderflow</span>
    </div>
    <% if (!currentUser) { %>
      <a href="/login" class="top-link">Connexion</a>
    <% } %>
  </div>
</header>